@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --primary: #000;
  --border-light: #a9a9a9;
  --shadow-light: #d2d2d2;
  --hover: #ededed;
  --text: #4c4c4c;
  --red: #af0f0f;
  --text-light: #848484;
  --separator: #dfdfdf;
  --white: #fff;
  --bg: #f3f8ff;
  --tog-bg-light: #ddebff;
  --tog-bg-dark: #001025;
  --tog-card-dark: #002657;
  --tog-border: #4797ff;
  --super-light-white: #f9f9f9;
  --skipped: #4f80f3;
  --missed: #e23232;
  --done: #44e891;
  --yellow: #f59e0b;
  --yellow-light: #ffff34;
  --pink: #d946ef;
  --blue: #3b82f6;
  --yellow-light: #ffda9a;
  --pink-light: #f5b1ff;
  --blue-light: #b6d2ff;
}

* {
  font-family: "Poppins";
}

body {
  background-image: conic-gradient(var(--blue-light), var(--yellow-light), var(--pink-light), var(--blue-light));
  backdrop-filter: blur(10px);
}

@theme {
  --shadow-checkIn: inset -1px -1px var(--shadow-light);
}

/*
  --yellow: #f59e0b;
  --pink: #d946ef;
  --blue: #3b82f6;
*/